{
  "extends": ["airbnb/legacy"],
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "strict": 0,
    "comma-dangle": 0,
    "func-names": 0,
    "id-length": 0,
    "linebreak-style": [2, "unix"],
    "max-len": [2, 120, 2],
    "no-console": 0,
    "no-script-url": 1,
    "no-unused-expressions": [2, { "allowShortCircuit": true }],
    "one-var": [2, { "initialized": "never" }],
    "vars-on-top": 1
  }
}
